In [3]:
import pandas as pd
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=BLUEPANDA;"
                      "Database=ETLCourse;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()
cursor.execute('SELECT * FROM dbo.spy')
counter = 0
for row in cursor:
    if counter < 20:
        print('row = %r' % (row,))
    counter += 1

row = ('2014-03-26', '187.04', '187.34', '184.92', '184.97', '119595000', '184.97')
row = ('2014-03-25', '186.37', '186.94', '185.27', '186.31', '103852000', '186.31')
row = ('2014-03-24', '186.84', '187.07', '184.62', '185.43', '121411200', '185.43')
row = ('2014-03-21', '187.71', '189.02', '186.03', '186.20', '163128000', '186.20')
row = ('2014-03-20', '186.25', '187.89', '185.92', '187.75', '117241000', '186.93')
row = ('2014-03-19', '187.68', '187.94', '185.47', '186.66', '176267300', '185.84')
row = ('2014-03-18', '186.71', '187.91', '186.51', '187.66', '101804600', '186.84')
row = ('2014-03-17', '185.59', '186.77', '185.51', '186.33', '98359500', '185.51')
row = ('2014-03-14', '184.85', '185.80', '184.44', '184.66', '153919600', '183.85')
row = ('2014-03-13', '187.84', '187.99', '184.66', '185.18', '155014300', '184.37')
row = ('2014-03-12', '186.32', '187.35', '185.90', '187.28', '104824400', '186.46')
row = ('2014-03-11', '188.44', '188.71', '186.80', '187.23', '99009100', '186.41')
row = ('2014-03-10', '187.97', '188.23', '187.08', '188.16', '74939200', '187.33')
row = ('2014-03-07', '188.96', '188.96', '187.43', '188.26', '114513500', '187.43')
row = ('2014-03-06', '188.21', '188.61', '187.78', '188.18', '82516500', '187.35')
row = ('2014-03-05', '187.74', '188.07', '187.45', '187.75', '88376900', '186.93')
row = ('2013-12-31', '184.07', '184.69', '183.93', '184.69', '86119900', '183.88')
row = ('2013-12-30', '183.87', '184.02', '183.58', '183.82', '56817500', '183.01')
row = ('2013-12-27', '184.10', '184.18', '183.66', '183.85', '61814000', '183.04')
row = ('2013-12-26', '183.34', '183.96', '183.32', '183.86', '63365000', '183.05')